{% extends "./base.html" %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        {% if user.is_authenticated %}
        <h2 style="margin-bottom: 32px; color: blue;">Welcome {{ user.username }}</h2>

        {% if posts_list %}
        <h3 style="margin-bottom: 100px;">Car Posts</h3>
        <ul class="list-group">
            {% for car_post in posts_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center " style="margin-bottom: 32px;">
                <div class="card">
                    <div class="card-body">
                        <h3>POST ID = {{car_post.id}}</h3>
                        <h4 class="card-title text-capitalize">{{car_post.name}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">@{{car_post.owner}}</h6>
                        <p class="card-text text-monospace text-info">
                            {{car_post.car_profile.details}}
                        </p>


                        <div class="list-group">
                            <h4 class="text-primary text-capitalize">Offers:</h4>
                            {% for offer in car_post.offers_list %}

                            <div style="d-flex flex-column; margin-bottom: 32px; " class="list-group-item
               list-group-item-secondary
              ">

                                <div style=" color: darkblue; font-size: larger;"> {{offer.suggestion}} IRR</div>

                                <div>@{{offer.user}} in {{offer.create_at}}</div>

                            </div>

                            {% endfor %}
                            <button type="button" class="btn btn-primary" href="#">Add Offer</button>

                        </div>

                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% else %}
        <a class="text-danger" href={%url 'user_login' %}>Please Login!</a>
        {% endif %}
    </div>
</div>{% endblock %}