{% extends './base.html' %} {% block body_block %}

<div class="container" style="display: flex; justify-content: center;">
  <div class="login_container" style="width: 50%;">
    <h1>Login here :</h1>
    <form
      class="form-signin"
      action="{% url 'user_login' %}"
      method="post"
      id="login-form"
    >
      {% csrf_token %}
      <input
        style="margin-top: 32px; margin-bottom: 16px;"
        type="text"
        name="username"
        id="id_username"
        class="form-control mr-10"
        placeholder="Username"
        required
        autofocus
      />
      <input
        type="password"
        name="password"
        id="id_password"
        class="form-control"
        placeholder="Password"
        required
      />
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
      </button>
    </form>
  </div>
</div>
{% endblock %}
