{% extends './base.html' %} {% block body_block %}

<form method="post">
  {% csrf_token %} {{ user_form.as_p }} {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
</form>

{% endblock %}
