{% extends "./base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join ToDay</legend>
                {{ form.as_p }}
                {{ profile_form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top ptr-3">
            <small class="text-muted">Already have an account?<a class="ml-2" href={%url 'user_login' %}>sing up</a></small>
        </div>
    </div>
</div>
{% endblock %}